.saved-notification {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 180px;
  z-index: 1000;
}

#formDetails div.d-flex label {
  min-width: 50px;
}

#formDetails .form-group {
  margin-bottom: 10px;
}

.separator {
  background: #ccc;
  width: 1px;
  box-shadow: 0 0 1px #eee;
  margin-top: 6px;
  margin-bottom: 6px;
  align-self: stretch;
}

.label-artezio {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.advertizing-modal {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: 0 -130px;
  width: 260px;
  padding: 10px;
  background: white;
  border: solid 1px #aaa;
  border-radius: 3px;
}

.advertizing-modal-wrapper {
  z-index: 1005;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.advertizing-modal-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#toolbar {
  height: 41px;
}

.container-fluid {
  height: calc(100% - 56px);
}

.tab {
  border: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 42px);
}

.tab__body {
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  flex-grow: 1;
}

.tab__footer {
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.tab-pane {
  padding: 1rem;
}

.tab-pane.tab-pane__form-details {
  padding-top: 0;
}

.form-details {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1001;
  background-color: white;
}

.nav-tabs .nav-item.active {
  cursor: default;
}

.tab-links .nav-item {
  width: 150px;
  height: 35px;
  padding: 5px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-links .nav-item.new-tab-link {
  width: 45px;
}

.close-tab-cross:hover {
  color: orange;
}
