.saved-notification {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 180px;
  z-index: 1000;
}

#formDetails div.d-flex label {
  min-width: 50px;
}

#formDetails .form-group {
  margin-bottom: 10px;
}

.separator {
  background: #ccc;
  width: 1px;
  box-shadow: 0 0 1px #eee;
  margin-top: 6px;
  margin-bottom: 6px;
  align-self: stretch;
}

.label-artezio {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.advertizing-modal {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: 0 -100px;
  width: 230px;
  padding: 10px;
  background: white;
  border: solid 1px #aaa;
  border-radius: 3px;
}

.advertizing-modal-wrapper {
  z-index: 1005;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.advertizing-modal-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#toolbar {
  height: 41px;
}

.container-fluid {
  height: calc(100% - 41px);
}

.tab {
  position: relative;
  border: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 42px);
}

.tab__body {
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  flex-grow: 1;
}

.tab__footer {
  width: 300px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.tab__footer a {
  padding: 4px 8px;
}

.tab-pane {
  padding: 1rem;
}

.tab-pane.tab-pane__form-details {
  padding-top: 0;
}

.form-details {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1001;
  background-color: white;
}

.nav-tabs .nav-item.active {
  cursor: default;
}

.tab-links .nav-item {
  height: 35px;
  padding: 5px 31px 5px 15px;
  display: inline-block;
  position: relative;
}

.tab-links .nav-item.new-tab-link {
  width: 45px;
  padding-right: 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #6c757d;
}

.close-tab-cross,
.unsaved-mark {
  position: absolute;
  right: 15px;
  width: 11px;
}

.tab-links .nav-item:not(:hover) .close-tab-cross {
  display: none;
}

.tab-links .nav-item.active:not(.unsaved) .close-tab-cross {
  display: inline;
}

.close-tab-cross:hover {
  color: orange;
}

/* .tab-links .nav-item.unsaved .unsaved-mark:not(:hover) {
display: inline;
} */
.tab-links .nav-item.unsaved .unsaved-mark {
  color: orange;
}

.tab-links .nav-item.unsaved:hover .unsaved-mark,
.tab-links .nav-item:not(.unsaved) .unsaved-mark {
  display: none;
}

.tab-links {
  display: flex;
  overflow: hidden;
  flex: initial;
  flex-shrink: 0;
  height: 35px;
}

.tab-links .nav {
  flex-grow: 1;
  order: 0;
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: nowrap;
}

.tab-links .left-scroll {
  order: -1;
}

.tab-links .right-scroll {
  order: 1;
}

.tab-links .left-scroll,
.tab-links .right-scroll {
  border-bottom: 1px solid #dee2e6;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.tab-links .left-scroll:hover,
.tab-links .right-scroll:hover {
  background-color: lightgray;
}

.tab-links .left-scroll:active,
.tab-links .right-scroll:active {
  background-color: gray;
}

.tab-links .left-scroll::selection,
.tab-links .right-scroll::selection {
  background: transparent;
}
