.saved-notification {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 180px;
  z-index: 1000;
}

#formDetails div.d-flex label {
  min-width: 50px;
}

#formDetails .form-group {
  margin-bottom: 10px;
}

.separator {
  background: #ccc;
  width: 1px;
  box-shadow: 0 0 1px #eee;
  margin-top: 6px;
  margin-bottom: 6px;
  align-self: stretch;
}